body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  background-image: url("asset/daun.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

h1 {
  font-size: 2em;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
}
